node_modules/
.vite/
*.log
zExtra
docker-compose.yml
dist/
build/
# .env
.DS_Store
frontend/
# backend/
# src/
# scripts/
config/
controllers/
# models/
routes/
middleware/
jobs/
utils/
services/
validations/







views/
tests/






# *.env
*.env.local
*.env.development
*.env.test
*.env.production
.idea/
.vscode/
*.sublime-project

