node_modules/
.vite/
*.log
zExtra/
docker-compose.yml
dist/
build/
.DS_Store

controllers/

middleware/
jobs/



validations/

views/
tests/

# *.env
*.env.local
*.env.development
*.env.test
*.env.production
.idea/
.vscode/
*.sublime-project

